.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: var(--grey-800);
  cursor: pointer;
}

.required {
  color: var(--danger-red);
  margin-left: 2px;
}

.error {
  font-size: 14px;
  color: var(--danger-red);
  margin-top: 4px;
} 