# Python
.venv
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Node.js
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.local
.env.*.local

# Build outputs
dist/
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db
*storybook.log
storybook-static

# Supabase
.temp/
.branches/
.migrations/
.git/
.env*
volumes/
